.cabecalho {

    background-color: var(--cor-cabecalho);

}

.container {
    display: flex;

}

.container__titulo {
    display: none;

}

@media screen and (min-width:820px) {

    .container__titulo {
        display: inline;
    }

}